*{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: sans-serif;
}

body{
  background-color: green;
}

header{
  background: lightblue;
  color: green;
  padding: 40px 15px;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index:2;
  text-align: center;
}

nav ul li{
  display: inline;
}

nav a {
  text-decoration: none;
  color: black;
  background: green;
  padding: 10px 20px;
  transition: .5s;
  position: relative;
  top: 20px;
}

nav a:hover{
  color: #333;
  background: lightgreen;
  padding: 10px 20px;
  transition: .5s;
  position: relative;
  top: 20px;
}

section{
  padding: 20px;
  max-width: 500px;
  margin: 10px 0px;
}

.text{
  background: lightgreen;
  color: black;
  position: relative;
  top: 150px;
}

.golfer{
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  color: orange;
}

.top-link{
  text-decoration: none;
  left: 550px;
  top: 850px;
  position: absolute;
  background: lightblue;
  color: #333;
  padding: 15px 30px;
  transition: .5s;
}

.top-link:hover{
  position: absolute;
  left: 550px;
  top: 850px;
  color: #333;
  background: #f2f2f2;
  padding: 15px 30px;
  transition: .5s;
}

.flag{
  float: right;
  width: 300px;
  padding: 150px;
}

.ball{
  width: 100px;
  padding: 10px;
  position: absolute;
  top: 350px;
  z-index:1;
  animation: spin 1000ms linear 5, roll 5s linear forwards;
}

@keyframes spin {
  from{
    transform: rotateZ(0deg);
  }
  to{
    transform: rotateZ(360deg);
  }
}

@keyframes roll {
  0% {
    left:-100px
  }
  100% {
    left: 80%
  }
}
